{% layout 'password' %}
{% include 'domains' %}


{% if petcomputer %}

<h1>{% include 'svg-petcomputer' %}</h1>

<p>We’re building a set of electronic devices for our animals. Since they’re family, we worry about them. We need to know that they’re safe and that they have what they need. With petcomputers we attempt to bridge the communication gap between us humans and our pets.</p>

{% form 'storefront_password' %}
  {%- if form.errors -%}
  <div class="">
    {{ form.errors | default_errors }}
  </div>
  {%- endif -%}

  <div class="grid grid--guttered grid--bottom">
    <div class="col col--8of12 col--tablet_portrait--12of12">
      <label for="password">The store is currently and temporarily password protected.</label>
      <input type="password" name="password" id="password" placeholder="●●●●●●●●">  
    </div>
  
    <div class="col col--4of12 col--tablet_portrait--12of12">
      <button type="submit" name="commit">Access</button>  
    </div>
  
  </div>
{% endform %}

{% else %}

<h1>{{ shop.name }}</h1>
<p>Coming soon<br>{{ 'general.password_page.admin_link_html' | t }}</p>

{% endif %}
