
// #COLORS

$white: #FFF;
$black--light: #515356;
$black: #2D2D2D;
$black--dark: #111111;
$grey--light: #EEEEEE;
$grey: #7D7D7D;
$grey--dark: #9B9B9B;

$yellow: #FFF0B0;
$blue: #739EFF;
$red: #FC7575;
$green: #50E3C2;

// #FONTS

$body_font: sans-serif;
$headings_font: $body_font;
$alternate_font: $body_font;


// #LAYOUT

$base: 16;
$base_size: $base * 1px;
$massive_size: (80/$base) * 1rem;
$giant_size: (64/$base) * 1rem;
$big_size: (42/$base) * 1rem;
$medium_size: (26/$base) * 1rem;
$slight_size: (18/$base) * 1rem;
$small_size: (12/$base) * 1rem;
$rythm: 1rem;
$max_width: 1333px;
$border_radius: 3px;
$letter_spacing: 0.1em;

$number_of_columns: 12;
$gutter: $rythm*2;


// #ANIMATIONS

$fast: 0.333s;
$slow: 0.666s;
$very_slow: 0.999s;


// #BREAKPOINTS

$phone: 'all and (max-device-width:600px), all and (max-width:600px)';
$tablet_portrait: 'all and (max-device-width:900px), all and (max-width:900px)';
$tablet_landscape: 'all and (max-device-width:1200px), all and (max-width:1200px)';
$big_desktop: 'all and (min-device-width:1800px), all and (min-width:1800px)';
$breakpoints: 'big_desktop' $big_desktop, 'tablet_landscape' $tablet_landscape, 'tablet_portrait' $tablet_portrait, 'phone' $phone;

