// #ICONS

.icon {
  height: (32/$base) * 1rem;
  width: (32/$base) * 1rem;
  display: inline-block;
  fill: currentColor;
  vertical-align: bottom;

  &.icon--logo {
    width: (139/$base) * 1rem;
    height: (23/$base) * 1rem;
    color: $black;

    .purple_back & {
      color: $white;
    }
  }

  &.icon--arrow {
    width: (12/$base) * 1rem;
    height: (8/$base) * 1rem;
    color: $black;
  }
}